body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.title {
    text-align: center;
    text-transform: capitalize;
}

.btn {
    display: block;
    margin: 1rem auto;
    background-color: blueviolet;
    color: #fff;
    border: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 200px;
    text-transform: capitalize;
    cursor: pointer;
}